.bg-img1 {
  height: 100vh;
  background-color: #000;
  background-size: cover;
  background-image: url(https://media.istockphoto.com/id/1460215356/vi/anh/n%E1%BB%81n-%C4%91en.jpg?s=2048x2048&w=is&k=20&c=uDYsuSyc5sIMy2KII3iuPZZnH0upD_qvgF91GIuuKLU=);
}
.bg-img2 {
  height: 100vh;
  background-color: #000;
  background-size: cover;
  background-image: url(https://media.istockphoto.com/id/1296781906/vi/anh/b%E1%BA%A3ng-%C4%91en-tr%C6%B0%E1%BB%9Dng-h%E1%BB%8Dc-g%C3%A3i-m%C3%A0u-%C4%91en-tr%E1%BA%AFng-c%C5%A9.jpg?s=2048x2048&w=is&k=20&c=YhW-Z9gXciQNr_rOX2QNUh5s4MSEJC9LgsKn4GPxPmE=);
}
.bg-img3 {
  height: 100vh;
  background-color: #000;
  background-size: cover;
  background-image: url(https://media.istockphoto.com/id/1210018123/vi/vec-to/minh-h%E1%BB%8Da-vect%C6%A1-c%E1%BB%A7a-n%E1%BB%81n-m%C3%A0u-%C4%91en-%C4%91%E1%BB%91m.jpg?s=2048x2048&w=is&k=20&c=sHdx4GwxSTxuX-U6ri92PFt7PX08aAprxF6BFuZSRh4=s);
}
